# Server Configuration
PORT=6565
HOST=localhost
NODE_ENV=development

UPDATE_SERVER=https://hercules-security.ru

# GitHub Configuration
GITHUB_TOKEN=
RATE_LIMIT_REQUESTS=100
RATE_LIMIT_WINDOW=15

# GitLab Configuration
GITLAB_TOKEN=

# File System
MAX_FILE_SIZE=10485760
LOG_DIR=./logs

# Security
CORS_ORIGIN=http://localhost:6565

# API Limits
MAX_CONCURRENT_DOWNLOADS=5
MAX_REPOSITORY_SIZE=52428800
CACHE_TTL=3600000

# режимы
VERSOSE=false # по умолчанию false


